<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>

    <security>
      <requestFiltering>
        <requestLimits maxQueryString="8192" maxUrl="8192" />
      </requestFiltering>
    </security>

    <rewrite>
      <rules>

        <!-- VOD Proxy mapping -->
        <rule name="VodProxyRule" stopProcessing="true">
          <match url="^MediaroomV2\.5/VodStorefront\.Main25/(.*)$" />
          <action type="Rewrite" url="http://172.16.40.101/SETTEMediaroomApp/LukaTube.aspx" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>

  <system.web>
    <httpRuntime 
      maxQueryStringLength="8192"
      maxUrlLength="8192"
      requestValidationMode="2.0"
      requestPathInvalidCharacters="" />
  </system.web>

</configuration>